 @import url('https://fonts.googleapis.com/css2? family= Kanit:ital,wght@1.300 & display=swap');
html { 
 
     
 

}
body{
  
  
 


}

nav {
  
  top:0;
  margin:0;
  
  color: #2E86C1;
  
  
  width:100%;
background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
nav ul {

  padding:20px;
  display:flex;
  justify-content: space-around;
  border:solid #2E86C1 2px;



}
nav li ul{
  display:none;
  
}
nav li:hover > ul{
  display:block;
  
}
  li {
    background-color:green;
    border-radius:10%;
    align-items:center;
    padding:0.5rem 2rem 0.5rem 2rem;
    list-style:none;
    

    }
nav ul a {

  text-decoration:none;
  }
h3{
  text-align:center;
  }
h1{
  text-align:center;
  font-family: 'Kanit', sans-serif;
    padding:10px;
  color:white;
  }

p{
  text-align:center;
   font-family: 'Kanit', sans-serif;
    padding:90px;
 
  
  }
  

}


#box1 {
    background-image:url("https://cdn.glitch.global/c299e1cc-1d21-459b-9f80-03f986c88691/World%20Map%20(1).svg?v=1653787733941") ;
  padding: 20px;
   
  border: solid 2px;
  height:100vh;
    background-size:cover;
}


  

#box2 {
 
  
  background-image:url("https://cdn.glitch.global/c299e1cc-1d21-459b-9f80-03f986c88691/World%20Map%20(1).svg?v=1653787733941") ;
  
  height:100vh;
  background-size:cover;
}

#cont {
    display:flex;
  justify-content:center;
  gap:30px;
  background-image:url("https://cdn.glitch.global/c299e1cc-1d21-459b-9f80-03f986c88691/World%20Map%20(1).svg?v=1653787733941") ;
   background-size:cover;
  border-radius:30px;
  
  
}
.caja{
  
  width:50%;
  height:50%;
  /* background-image:url("https://cdn.glitch.global/c299e1cc-1d21-459b-9f80-03f986c88691/Geografia-de-Brasil.webp?v=1653778874520") ;*/
  border-radius:40px;
  align:center;
  
} 
.caja2{
  
 
  height:50%;
   background-image: linear-gradient(to left bottom, #27e508, #4ce633, #63e64a, #76e75e, #87e770, #97e873, #a5e976, #b2ea7a, #c4ec72, #d6ed6a, #e8ed64, #fbed5f);
  border-radius:10px;
  align:center;
  
} 
.caja3{
  
  width:60%;
  height:10%;
   background-image: linear-gradient(to left bottom, #27e508, #4ce633, #63e64a, #76e75e, #87e770, #97e873, #a5e976, #b2ea7a, #c4ec72, #d6ed6a, #e8ed64, #fbed5f);
  border-radius:80px;
  align:center;
    top:0;
  margin:0;
    position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  
} 
.caja4{
  
  width:30%;
  height:60%;
 /* background-image: linear-gradient(to bottom, #e936e1, #ff189e, #ff585f, #ff9326, #efc300, #ded404, #c8e421, #adf43e, #c5f242, #d9f04a, #ebef54, #fbed5f);
 */
 border-radius:80px;
 text-align:right;
  font-family: 'Kanit', sans-serif;
  padding:100px;
  color:white;

  
  
} 
 footer{
           border:  solid #2E86C1 2px;
   
   }
@media screen and (min-width: 320px){
  
  
  #box3 {
 background-image:url("https://cdn.glitch.global/c299e1cc-1d21-459b-9f80-03f986c88691/World%20Map%20(1).svg?v=1653787733941") ;
    padding: 20px;
  
  
  
  height:100vh;
    background-size:cover;
}
  
  #box4 {
     background-image:url("https://cdn.glitch.global/c299e1cc-1d21-459b-9f80-03f986c88691/World%20Map%20(1).svg?v=1653787733941") ;
  padding: 20px;
    
  height:100vh;
    background-size:cover;
}
  #box5 {
     background-image:url("https://cdn.glitch.global/c299e1cc-1d21-459b-9f80-03f986c88691/World%20Map%20(1).svg?v=1653787733941") ;
  padding: 20px;
  
  
  border: solid 2px;
  height:100vh;
    background-size:cover;
}
  
  .texto2{
    font-size:3em;
    justify-content:center;
    padding:0 3em 0 3em;
    text-align:justify;
    color: White;
  }
  .boton{ 
    background-color: #F8D617; 
    border-radius: 100%;
      border: none;
    color: blue;
      padding: 16px 16px;
    transition:0.3s;
    opacity:1;
    
  }
  .boton:hover{
       background-color: #F8D617;
    opacity:0.6;
    fony-size1.1em;
      
   } 
  .popup{
    width:75%;
    position:absolute;
    top:0;
    margin:0 auto;
    visibility:hidden;
    transform: translate(10%)
  }
  .openpopup{
    
     visibility:visible;
    top:60%;
    transform: translate(10%)

    
  }
  form{
    
         padding:50px;
    background-color: #F8D617;
    opacity:0.6;
    fony-size1.3em;
     width:75%;
    
  }